:root {
  --primary-color: #F0A83E;
  --secondary-color: #3C2313;
  --main-bg-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

/*            HEADER              */

/* BANNER */
#upper-banner {
  background-color: #000;
  height: 20px;
  color: #fff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 10px;
}

#upper-banner p {
  font-weight: 400;
  margin-left: 90px;
}

#upper-banner ul {
  display: flex;
  justify-content: center;
  align-items:center;
  list-style: none;
  margin-right: 60px;
}

#upper-banner ul li{
  margin: 0 10px;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;;
  background-color: var(--primary-color);
  height: 62px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon span {
  color: #fff;
}

.icon h2 {
  padding: 0 3px;
}

.icon-main {
  font-size: 16px;
  font-weight: 700;
  margin-left: 40px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #fff;
}

nav ul li {
  display: flex;
  align-items: center;
  padding: 10px;
}

nav ul img {
  color: #fff;
  height: 15px;
  width: 15px;
}

/*            MAIN              */

/* HERO */
#hero {
  background-image: url('../img/bowl-and-pet-daities-on-green-background 1bowl.png');
  height: 409px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative;
}

#hero div {
  position: absolute;
  top: 60%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

#hero div p:first-child {
  background-color: white;
  font-size: 30px;
  padding: 0.4rem;
  border-radius: 5px;
}

#hero div a {
  text-decoration: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
}

/* FEATURED PRODUCTS */
#featured-products {
  text-align: center;
  padding: 2rem;
  background-color: var(--main-bg-color);
}

#featured-products h1 {
  font-weight: 700;
  font-size: 40px;
}

#featured-products ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

#featured-products ul li {
  padding: 0.8rem;
}

#cards-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  margin: 50px 10px 80px 10px;
  background-color: #FBFAF6;
}

.product-card h4 {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 2px;;
}

.product-card p {
  color: #F0A83E;
  font-size: 15px;
  font-weight: 500;
}

/* CONTACT */
#contact h3 {
  font-weight: 700px;
  font-size: 25px;
  text-align: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem 0;
}

.input {
  border-radius: 15px;
  padding: 1rem;
  width: 340px;
  font-size: 9px;
  font-weight: 400px;
  margin: 5px;
  border: none;
}

.input-contact {
  background-color: var(--secondary-color);
  color: white;
}

#contact form input::placeholder {
  color: #fff;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  width: 110px;
  color: #fff;
}

.btn-primary {
  margin-top: 40px;
  background-color: var(--primary-color);
}

.btn-secondary {
  margin-top: 40px;
  background-color: #8A8787;
}

/*            FOOTER              */
/* SUBSCRIPTION */
#subscription {
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.subscription-text {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.subscription-text h5 {
  font-size: 20px;
  font-weight: 700;
  margin-left: 5px;
}

#subscription form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}

#subscription form button {
  background-color: var(--secondary-color);
  font-size: 9px;
  padding: 0.8rem 0;

}

/* CONTACT INFORMATION */
#contact-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 5px 75px;
  background-color: var(--secondary-color);
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-container > div {
  padding: 20px;
  display: flex;
  color: #fff; 
}

.contact-container > div .details {
  margin-left: 30px;
}

.contact-container > div h5 {
  font-size: 20px;
  font-weight: 700;
}

.contact-container > div p {
  font-size: 10px;
  font-weight: 700;
  color: #8A8787;
}

.icon-secondary {
  margin-right: 75px;
  color: #fff;
  font-size: 20px;
}

.icon-secondary span {
  color: var(--primary-color)
}

/* LEGAL INFORMATION */
#legal-information {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 10px;
  padding: .2rem;
}